/* make space between buttons on touch devices */
@media (hover: none) {
	#page-title .action-button.bgabutton,
	#page-title .bgabutton {
		margin-bottom: 8px;
		margin-top: 8px;
	}
}

$playerQuickNavColor: #cdcec9;

.show-player-tableau {
	a {
		color: $playerQuickNavColor;
	}
	height: 26px;
	grid-column: 2 !important;
	z-index: 1;
	justify-self: end;
	color: $playerQuickNavColor;
	svg {
		height: 100%;
		width: auto;
	}
}
.anchor-up {
	a {
		color: $playerQuickNavColor;
	}
	height: 25px;
	width: 25px;
	position: absolute;
	right: 35px;
	margin-top: -40px;
	svg {
		height: 100%;
		width: auto;
		color: inherit;
	}
}

#generalactions {
	$gaPlayerQuickNavColor: black;
	.show-player-tableau {
		a {
			color: $gaPlayerQuickNavColor;
		}
		height: 18px;
		width: 11px;
		display: inline-block;
		margin-left: 5px;
		color: $gaPlayerQuickNavColor;
		vertical-align: text-bottom;
	}
}

.inherit-color {
	color: inherit;
}
/*
//to override star icon everywhere in the result tab
#pagesection_gameresult .fa-star {
	@include sunIcon;
	&::before {
		content: none;
	}
}
*/

//to change background color of spectator box before player panels
.roundedbox.player-board.spectator-mode {
	.roundedbox_top,
	.roundedbox_main,
	.roundedbox_bottom {
		background-color: #0d383a;
		.roundedbox_topleft {
			background-color: inherit;
		}
		.roundedbox_topmain {
			background-color: inherit;
		}
		.roundedbox_topright {
			background-color: inherit;
		}
		.roundedbox_bottomleft {
			background-color: inherit;
		}
		.roundedbox_bottommain {
			background-color: inherit;
		}
		.roundedbox_bottomright {
			background-color: inherit;
		}
	}
}

.important-msg-positive {
	background-color: green;
}
.important-msg-warning {
	background-color: orange;
}
.important-msg-negative {
	background-color: red;
}

