@use 'GameVars' as vars;

.player-board {
	.counter .game-symbol {
		width: 30px;
		height: 29.53125px;
		flex-basis: 30px;
	}

	.counter .game-symbol + span {
		padding-left: 0;
		margin-left: -3px;
	}

	.player-side {
		margin-right: 5px;
		margin-left: 3px;
	}

	.player-name,
	.player-name a {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.player_score_value {
		font-weight: bold;
	}
	
	.additional-icons {
		display: flex;
		gap: 5px;
	}
}

.help-card {
	width: 355px;
	height: 480px;

	&.recto {
		background: url('img/help1.jpg') no-repeat;
	}

	&.verso {
		background: url('img/help2.jpg') no-repeat;
	}
}

.counter {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	> span {
		padding: 0 5px 0 5px;
	}
}

.counters {
	display: flex;
	align-items: center;
	margin: 5px 0;
	flex-wrap: wrap;
}

:nth-child(1 of .counters) {
	//==first-of-class
	margin-top: 13px;
}

.additional-info {
	column-gap: 5px;
	justify-content: space-evenly;
}

.player-turn-order {
	user-select: none;
}

.icon {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.playerOrderHelp {
	padding: 3px;
}

#firstPlayerIcon {
	background: url('img/first-player.png');
	width: 25px;
	aspect-ratio: 1;
}
